@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.app-inner {
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    width: 500px;
}

.app-title {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 30px;
}

.app-list {
    width: 500px;
    height: 200px;
    background-color: #d7d7d7;
    overflow: auto;
}

.app-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    opacity: 0.5;
}

.app-form {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.app-form input {
    border: none;
    outline: none;
}

.app-input {
    width: calc(80% - 10px);
    height: 100%;
    background-color: #e3e3e3;
    padding: 0;
    padding-left: 10px;
    color: #ff7f31;
}

.app-submit {
    width: 20%;
    height: 100%;
    cursor: pointer;
    background: #ff7f31;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: opacity 0.2s;
}

.app-submit:hover {
    opacity: 0.8;
}

.app-list-item {
    width: 100%;
    height: auto;
    background-color: #b3b3b3;
    color: #fff;
    display: flex;
    flex-direction: row;
    min-height: 40px;
}

.app-list-item-text {
    width: calc(90% - 30px);
    word-break: break-word;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    /* min-height: 40px; */
    padding: 10px 15px 10px 15px;
}

.app-list-item-remove {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 40px; */
    cursor: pointer;
    font-weight: 800;
    transition: color 0.25s;
}

.app-list-item-remove:hover {
    color: #ff7f31;
}

.app-credits {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 600;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff7f31;
}
  